[{% for item in ocp4_hosts %}{% if item.type == 'master' %}"{{ vpc_private_subnets_cidrs[loop.index0 % (vpc_private_subnets_cidrs | length)] | ansible.utils.nthhost(loop.index+9) }}",{% endif %}{% endfor %}]